<div class="header">
  <h4 class="text-header">Cadastro de País</h4>
</div>

<form [formGroup]="countryForm" novalidate>

  <div class="row">
  <div class="form-group col-12 col-md-3">
      <label for="key">Chave</label>
      <input [maxLength]="30" [ngClass]="{'is-invalid': submitted && ef.key.errors}" class="form-control"
             formControlName="key" id="key"
             type="text">
    </div>
    <div class="form-group col-12 col-md-5">
      <label for="name">Nome<span class="required-input"> *</span></label>
      <input [maxLength]="150" [ngClass]="{'is-invalid': submitted && ef.name.errors}" class="form-control"
             formControlName="name" id="name"
             type="text">
    </div>

    <div class="form-group col-12 col-md-3">
      <label for="reducedName">Nome reduzido</label>
      <input [maxLength]="30" [ngClass]="{'is-invalid': submitted && ef.reducedName.errors}" class="form-control"
             formControlName="reducedName" id="reducedName"
             type="text">
    </div>
    <ng-container *ngIf="haveId;">
      <div class="form-group col-12 col-md-1" style="text-align:right;vertical-align: middle">
        <div class="checkbox">
          <label for="active">Ativo</label>
          <mat-slide-toggle formControlName="active" id="active" tabindex="-1"></mat-slide-toggle>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="row">
    <div class="form-group col-12 col-md-8">
      <label for="internationalName">Nome internacional</label>
      <input class="form-control" type="text" formControlName="internationalName" id="internationalName"
             [maxLength]="150"
             [ngClass]="{'is-invalid': submitted && ef.internationalName.errors}">
    </div>
    <div class="form-group col-12 col-md-2">
      <label for="initials">Sigla<span class="required-input"> *</span></label>
      <input [maxLength]="3" [ngClass]="{'is-invalid': submitted && ef.initials.errors}" class="form-control"
             formControlName="initials" id="initials"
             type="text">
    </div>
    <div class="form-group col-12 col-md-2">
      <label for="initialTwoP">Sigla 2P</label>
      <input [maxLength]="2" [ngClass]="{'is-invalid': submitted && ef.initialTwoP.errors}" class="form-control"
             formControlName="initialTwoP" id="initialTwoP"
             type="text">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-12 col-md-8">
      <label for="marketCode">Codigo de mercado</label>
      <input [maxLength]="30" [ngClass]="{'is-invalid': submitted && ef.marketCode.errors}" class="form-control"
             formControlName="marketCode" id="marketCode"
             type="text">
    </div>
    <div class="form-group col-12 col-md-4">
      <label for="nationality">Nacionalidade<span class="required-input"> *</span></label>
      <input [maxLength]="150" [ngClass]="{'is-invalid': submitted && ef.nationality.errors}" class="form-control"
             formControlName="nationality" id="nationality"
             type="text">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-12 col-md-4">
      <label for="isoCode">Codigo ISO</label>
      <input [maxLength]="30" [ngClass]="{'is-invalid': submitted && ef.isoCode.errors}" class="form-control"
             formControlName="isoCode" id="isoCode"
             type="text">
    </div>
    <div class="form-group col-12 col-md-4">
      <label for="sisbacenCode">Codigo SISBACEN</label>
      <input [maxLength]="30" [ngClass]="{'is-invalid': submitted && ef.sisbacenCode.errors}" class="form-control"
             formControlName="sisbacenCode" id="sisbacenCode"
             type="text">
    </div>
    <div class="form-group col-12 col-md-4">
      <label for="ibgeCode">Codigo IBGE<span class="required-input"> *</span></label>
      <input [maxLength]="30" [ngClass]="{'is-invalid': submitted && ef.ibgeCode.errors}" class="form-control"
             formControlName="ibgeCode" id="ibgeCode"
             type="text">
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="form-group col-12 col-md-6" style="text-align: right;">
      <button class="btn btn-outline-success btnAccept" id="save"
      type="button" (click)="create()" style="border-radius: 80px;padding-left: 80px; padding-right: 80px;">Salvar
      </button>
    </div>

    <div class="form-group col-12 col-md-6" style="text-align: left;">
      <button type="button" (click)="cancel()" class="btn btn-outline-danger btnDanger"
              style="border-radius: 80px;padding-left: 80px; padding-right: 80px;">Cancelar
      </button>
    </div>
  </div>
</form>
