<div class="header">
  <h4 class="text-header">Cadastro de Hotel</h4>
</div>

<form [formGroup]="hotelForm" novalidate>

  <div class="row">
  <div class="form-group col-12 col-md-3">
      <label for="name">Nome<span class="required-input"> *</span></label>
      <input [maxLength]="30" [ngClass]="{'is-invalid': submitted && ef.name.errors}" class="form-control"
             formControlName="name" id="name"
             type="text">
    </div>
    <div class="form-group col-12 col-md-5">
      <label for="city">Cidade<span class="required-input"> *</span></label>
      <input [maxLength]="150" [ngClass]="{'is-invalid': submitted && ef.city.errors}" class="form-control"
             formControlName="city" id="city"
             type="text">
    </div>

    <div class="form-group col-12 col-md-3">
      <label for="cnpj">CNPJ<span class="required-input"> *</span></label>
      <input [maxLength]="30" [ngClass]="{'is-invalid': submitted && ef.cnpj.errors}" class="form-control"
             formControlName="cnpj" id="cnpj" [textMask]="{mask:global.masks.cnpj}"
             type="text">
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="form-group col-12 col-md-6" style="text-align: right;">
      <button class="btn btn-outline-success btnAccept" id="save"
      type="button" (click)="create()" style="border-radius: 80px;padding-left: 80px; padding-right: 80px;">Salvar
      </button>
    </div>

    <div class="form-group col-12 col-md-6" style="text-align: left;">
      <button type="button" (click)="cancel()" class="btn btn-outline-danger btnDanger"
              style="border-radius: 80px;padding-left: 80px; padding-right: 80px;">Cancelar
      </button>
    </div>
  </div>
</form>
